h1 {
  font-family: Georgia, cursive;
  font-size: 52px;
  color: black;
  font-weight: 400; /* 400 or 700 available */
  text-align: center;
  text-decoration: none;
  text-transform: none;
  line-height: 100%;
  letter-spacing: 0px;
  font-style: normal;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 400; /* 400 or 700 available */
  text-align: center;
  text-decoration: none;
  text-transform: none;
  line-height: 100%;
  letter-spacing: 0px;
  font-style: normal;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400; /* 400 or 700 available */
  text-align: center;
  text-decoration: none;
  text-transform: none;
  line-height: 100%;
  letter-spacing: 0px;
  font-style: normal;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
footer {
  text-align: center;
}

body {
  background: palegoldenrod;
}

ol, ul {
  display: table;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.boldText {
  font-weight: bold;
}

a:link    { color: blue;  }
a:visited { color: purple;   }
a:hover   { color: lightblue; }
a:active  { color: firebrick;  }
